{% extends '@AcmeDemo/default/layout.html.twig' %}

{% block content %}
<p>{{ "I'm so proud"|fooize }} !</p>
<p>{{ barize("And so happy") }} !</p>
<p>
<a href="{{ url('acme_demo.hello', {'you': app['acme_demo.name']}) }}">{{ app['acme_demo.name']|e }}</a>
</p>
{% endblock content %}