<html>
<body>
<h1>Hello {{ you|e }}</h1>
<p>{{ "I'm so proud"|fooize }} !</p>
<p>{{ barize("And so happy") }} !</p>
<p>
<a href="{{ url('AcmeDemo.hello', {'you': 'David'}) }}">David</a>
</p>
</body>
</html>