<html>
    <head>
        {% block stylesheets %}
            {% stylesheets '@AcmeDemo/css/*.css' output="css/acme_demo" %}
                <link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheets %}
        
       <title>{% block head_title %}{{ title|e }}{% endblock head_title %}</title>
    </head>
    <body>
        {% block body %} {% endblock body %}
        {% javascripts 'js/plugin.js' filter='yui_js' output="js/plugin" %}
            <script src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}
    </body>
</html>
