<html>
    <head>
        {% block stylesheets %}
            {% stylesheets '@AcmeDemo/css/*.css' filter='?yui_css' output="css/acme_demo" %}
                <link href="{{ asset(asset_url, 'assets') }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheets %}
        
       <title>{% block head_title %}{{ title|e }}{% endblock head_title %}</title>
    </head>
    <body>
        {% block body %} {% endblock body %}
        {% javascripts 'js/plugin.js' filter='?yui_js' %}
            <script src="{{ asset(asset_url, 'assets') }}"></script>
        {% endjavascripts %}
    </body>
</html>
